body{
	font-family: mgopen_modernaregular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1{
	text-align: center;
}

h2{
	text-align: center;
}

h3{
	text-align: center;
}

p#links{
	text-align: center;
}

p#links a{

}

@font-face {
    font-family: 'mgopen_modernaregular';
    src: url('fonts/mgopenmodernaregular-webfont.eot');
    src: url('fonts/mgopenmodernaregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mgopenmodernaregular-webfont.woff') format('woff'),
         url('fonts/mgopenmodernaregular-webfont.ttf') format('truetype'),
         url('fonts/mgopenmodernaregular-webfont.svg#mgopen_modernaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mgopen_modernabold';
    src: url('fonts/mgopenmodernabold-webfont.eot');
    src: url('fonts/mgopenmodernabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mgopenmodernabold-webfont.woff') format('woff'),
         url('fonts/mgopenmodernabold-webfont.ttf') format('truetype'),
         url('fonts/mgopenmodernabold-webfont.svg#mgopen_modernabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mgopen_modernaoblique';
    src: url('fonts/mgopenmodernaoblique-webfont.eot');
    src: url('fonts/mgopenmodernaoblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mgopenmodernaoblique-webfont.woff') format('woff'),
         url('fonts/mgopenmodernaoblique-webfont.ttf') format('truetype'),
         url('fonts/mgopenmodernaoblique-webfont.svg#mgopen_modernaoblique') format('svg');
    font-weight: normal;
    font-style: normal;
}