<!DOCTYPE html>
<!--
                                                 OO                                                 
                                                 &#&&                                               
                                             ??   O #                                               
                                              &%& & &%&                                             
                                              #Oe #&&&                                              
                                                ?& OO&&$                                            
                                           #&   &  _& &&                                            
                                          #&$$     !O %                                             
                                          &**$&    i$?OOO    OO%&                                   
                                          %&$*O    e &:;`% &e%&e&                                   
                                           #&+##   && !e?& &O& &                                    
                                         #%`+%%&   ##OOO$  #                                        
                                      &  #! o%# & &%!;; ?                                           
                                     &%O&  O&!$#$  &!Oe& OO!                                        
                                     O $e%  &&&;$    ! &e+.:O#?O ?                                  
                                  O     &OO$%  #i# &# ;%Oo&*O*^^#~&                                 
                                 $O#    # &     O#oie -%$#&o$%;^$o                                  
                                 %O&             $**;%!$ ?!o###?                                    
                                    &%&&&#       OO&O*+ !-$iOe                                      
                                   ?_:*%!O       O=**^  O!*&   #+`o$                                
                                  O?^:=#%#    &$  e= ;   &&&O?!o!i~$                                
                                   #O=?-%$   +*-O $?~_  # #o `i^^##&                                
                                     $%-i#  #$% :.e&o$e:!  e_-%^o &$$                               
                               %&&    e*O   &&e.``!!%:o&   _-ioe#*%:!                               
                                &    O= .++;i#&~O*=O##   #O$o& %e!?#                                
                                &    O!= *i-+%O!% =&OO%$_`+.o  ?O&O%*e                              
                                 & $& $Oi%-o& +`e  =!^$=.-``o %oi&^ ;&                              
                                &$ $$o %#?%* ;e::oi%i!e:_!i% = o?oi!                                
                                 O %^e&   $:~  ;?$:!%  &e%=$* __&O!%?&                              
                                   *~!$  %i=-`^`;+*%%e`*;  =ioii$^_&                                
                                   &-%;*&__o:;-:^*;?~=_~=  !&oo!=;&                                 
                                  &*%#$O_=$#-_e $!.:  =;: :&!?-+i                                   
                                  &%;% &~ +iO!$!?eo- `_o;o%?.-*&                                    
                                  ##e*?*= .-=& &.oO. ~oo..^:+;O                                     
                                    O!&=!- =o$%$; _::;_`;.:e?=                                      
                                   &&  #$?~+ :i^^;~_?ii=i;e++&                                      
                                     & =#%#%%%#i.o^__~.=o?;~$                                       
                                      &Oe^=&*+-?O-_+i`_+i-ee                                        
                                      O$e^:$_^  `-+*ieo*:;=#                                        
                                       #?= %`    .~::.e~^!&                                         
                                        &*:*o ^ _ii+-.;e!#                                          
                                          %Oi*o;_++o- !;&                                           
                                            ?^i*!# &*o                                              
                                             $%
-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>pinecone.website</title>

    <link rel="stylesheet" href="/css/index.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>

  <body>
    {{{body}}}
  </body>
</html>