<h1>rack &amp; pinecone</h1>
<h2>limited liabilty company</h2>
<h3>manhattan, ks</h3>
	
<ul id="links">
	<li><a href="https://github.com/pinecone-dot-website">github</a></li>
	<li><a href="mailto:hi@pinecone.website">hello</a></li>
</ul>