<main>
  <h1>Rack &amp; Pinecone</h1>
  <h2>LLC Boise ID</h2>
  <ul id="links">
    <li><a href="https://github.com/pinecone-dot-website">github</a></li>
    <li><a href="mailto:hi@pinecone.website">hello</a></li>
  </ul>
</main>

{{#section "styles"}}
  <link rel="stylesheet" href="/css/index.css" />
{{/section}}