<main><h1>Projects</h1>

  <ul>
    <li><a href="https://earlsurls.site/">Earls Urls</a></li>
    <li><a href="https://react-ssr.pinecone.website/">React SSR</a></li>
  </ul>
</main>

{{#section "styles"}}
  <link rel="stylesheet" href="/css/projects.css" />
{{/section}}