@import "fonts";

body {
  background-color: #fcfcfc;
  color: #111;
  font-family: mgopen_modernaregular, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

h1 {
  font-family: "Unica One", sans-serif;
}
