<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>{{ page.title }}</title>
		
		<!-- Custom CSS -->
		<link rel="stylesheet" href="/css/index.css">
	
	</head>
	
	<body>
	
		{{ content }}
	
		<ul id="links">
			<li><a href="https://github.com/pinecone-dot-io">github</a></li>
			<li><a href="mailto:hi@pinecone.io">hello</a></li>
		</ul>
	</body>
</html>
