

body {
    background-color: #fcfcfc;
    color: #111;
    font-family: mgopen_modernaregular, "Helvetica Neue", Helvetica, Arial,
      sans-serif;
  }
  
  h1 {
    background-image: url(../img/rampp.png);
    background-position: center -20px;
    background-repeat: no-repeat;
    background-size: 220px 220px;
    font-family: "Unica One", sans-serif;
    font-size: 3.4em;
    margin: 0 0 0.2em 0;
    padding-top: 260px;
    text-align: center;
    text-transform: uppercase;
  }
  
  h2 {
    color: #ccc;
    font-size: 0.6em;
    font-weight: 100;
    margin: 0 0 8em 0;
    text-align: center;
  }
  
  h3 {
    font-size: 1.4em;
    margin: 0 0 1.8em 0;
    text-align: center;
  }
  
  ul#links {
    padding: 0;
    text-align: center;
  }
  
  ul#links li {
    list-style-type: none;
  }
  
  ul#links li a {
    background-color: #aaa;
    border-radius: 0.4em;
    color: #fcfcfc;
    display: inline-block;
    line-height: 2em;
    margin: 0.4em 0 0.6em 0;
    padding: 0 0.6em;
    text-decoration: none;
  }
  
  ul#links li a:hover {
    background-color: #f0f0f0;
    color: #aaa;
    transition: 0.1s;
  }
  
  ul#links li:nth-child(2) {
    font-size: 0.6em;
  }
  
  @media (max-width: 640px) {
    h1 {
      font-size: 2em;
    }
  
    h3 {
      font-size: 1em;
    }
  }
  
  @font-face {
    font-family: "mgopen_modernaregular";
    src: url("../fonts/mgopenmodernaregular-webfont.eot");
    src: url("../fonts/mgopenmodernaregular-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("../fonts/mgopenmodernaregular-webfont.woff") format("woff"),
      url("../fonts/mgopenmodernaregular-webfont.ttf") format("truetype"),
      url("../fonts/mgopenmodernaregular-webfont.svg#mgopen_modernaregular")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "mgopen_modernabold";
    src: url("../fonts/mgopenmodernabold-webfont.eot");
    src: url("../fonts/mgopenmodernabold-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("../fonts/mgopenmodernabold-webfont.woff") format("woff"),
      url("../fonts/mgopenmodernabold-webfont.ttf") format("truetype"),
      url("../fonts/mgopenmodernabold-webfont.svg#mgopen_modernabold")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "mgopen_modernaoblique";
    src: url("../fonts/mgopenmodernaoblique-webfont.eot");
    src: url("../fonts/mgopenmodernaoblique-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("../fonts/mgopenmodernaoblique-webfont.woff") format("woff"),
      url("../fonts/mgopenmodernaoblique-webfont.ttf") format("truetype"),
      url("../fonts/mgopenmodernaoblique-webfont.svg#mgopen_modernaoblique")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }
  