@import "includes/shared";

main {
  // clip-path: polygon(100% 100%, 100% 100%, 100% 100%);
  text-align: center;
}

h1 {
  background-image: url(../img/rampp.png);
  background-position: center -20px;
  background-repeat: no-repeat;
  background-size: 220px 220px;
  font-size: 3.4em;
  margin: 0;
  padding: 260px 0 4rem 0;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
}

ul#links {
  padding: 0;
  li {
    line-height: 2em;
    list-style-type: none;

    a {
      background-color: #aaa;
      color: #fcfcfc;
      padding: 0 0.6em;
    }
  }
}

// h2 {
//   color: #ccc;
//   font-size: 0.6em;
//   font-weight: 100;
//   margin: 0 0 8em 0;
// }

// h3 {
//   font-size: 1.4em;
//   margin: 0 0 1.8em 0;
// }

// ul#links li a {
//
//   border-radius: 0.4em;
//
//   display: inline-block;
//
//   margin: 0.4em 0 0.6em 0;
//
//   text-decoration: none;
// }

// ul#links li a:hover {
//   background-color: #f0f0f0;
//   color: #aaa;
//   transition: 0.1s;
// }

// ul#links li:nth-child(2) {
//   font-size: 0.6em;
// }

// @media (max-width: 640px) {
//   h1 {
//     font-size: 2em;
//   }

//   h3 {
//     font-size: 1em;
//   }
// }
